force-app/main/default/flows/ForAccountCreateContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Deleting_0</name>
        <label>Deleting</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>var2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteContacts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ForContact</name>
        <label>ForContact</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Var</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FormulaValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseHold</name>
        <label>IncreaseHold</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>holdCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContactOnInsert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>createContactOnInsert</name>
        <label>createContactOnInsert</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>createContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>holdCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.NumberOfEmployees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContacts</targetReference>
            </connector>
            <label>createContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeleteContacts_0</name>
        <label>DeleteContacts</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteExisting_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContacts</targetReference>
            </connector>
            <label>DeleteExisting</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForAccount</name>
        <label>ForAccount</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>createContactOnInsert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Update_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.NumberOfEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForCheck</targetReference>
            </connector>
            <label>Update Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForCheck</name>
        <label>ForCheck</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>DeleteContacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.NumberOfEmployees</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.NumberOfEmployees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FormulaValue</targetReference>
            </connector>
            <label>UpdateRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>FormulaValue</name>
        <label>FormulaValue</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>ToDelete</defaultConnectorLabel>
        <rules>
            <name>ToCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FValue1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Var</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddContacts</targetReference>
            </connector>
            <label>ToCheck</label>
        </rules>
    </decisions>
    <description>tes</description>
    <formulas>
        <name>contactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&apos;Test&apos;</expression>
    </formulas>
    <formulas>
        <name>FValue</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.NumberOfEmployees} - {!$Record.NumberOfEmployees}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FValue1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.NumberOfEmployees} - {!$Record__Prior.NumberOfEmployees}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ForAccountCreateContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ForAccountCreateContacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddContacts</name>
        <label>AddContacts</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>ForContact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contactName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreateContacts</name>
        <label>CreateContacts</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>IncreaseHold</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contactName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteContactRecord_0</name>
        <label>DeleteContactRecord</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Deleting_0</targetReference>
        </connector>
        <inputReference>GetContacts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteContactRecord_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <startElementReference>ForAccount</startElementReference>
    <status>Draft</status>
    <variables>
        <name>holdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>holdCount1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
