force-app/main/default/flows/ForTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ToCreate</name>
        <label>ToCreate</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Var1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ToUpdate</name>
        <label>ToUpdate</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Var2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCondition</name>
        <label>CheckCondition</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>CreateContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>UpdateExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts</targetReference>
            </connector>
            <label>UpdateExisting</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateContacts</name>
        <label>CreateContacts</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InsertContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.NumberOfEmployees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contacts</targetReference>
            </connector>
            <label>InsertContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateCon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForVal1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Var2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecordsInExisting</targetReference>
            </connector>
            <label>UpdateCon</label>
        </rules>
    </decisions>
    <formulas>
        <name>ForVal1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.NumberOfEmployees} - {!$Record__Prior.NumberOfEmployees}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Try {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ForTest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>ToCreate</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRecordsInExisting</name>
        <label>CreateRecordsInExisting</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>ToUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <startElementReference>CheckCondition</startElementReference>
    <status>Active</status>
    <variables>
        <name>Var1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
